<div class="beer-list">

    {{#each beers}}
        <div class="beer-wrapper">
            <a href="/beers/beer-{{id}}">
                <div class="beer-img-center">
                    <img src={{image_url}} />
                    <div class="beer-wrapper-info">
                        {{> beerPartial}}
                    </div>
                </div>
            </a>
        </div>   
    {{/each}}

</div>