

<div class="flex-wrapper">
    <div class="flex-wrapper">
        <img src="/images/beer.png"
    </div>


    <div class="flex-wrapper">
        <a href="/beers"> Beer </a>  
        <a href="/random-beer"> Random Beer </a>  
    </div>
</div>